DATABASE_URL="file:./dev.db"

# Google Auth -> Google Cloud > BookWise > APIs & Services > Credentials > BookWise client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub Auth -> GitHub Settings > Developer Settings > OAuth > BookWise
GITHUB_ID=
GITHUB_SECRET=

# Next
## Project URL
NEXTAUTH_URL=

## Random string sequence. Run the command: `openssl rand -base64 32`
> **Note:** The `openssl` command only works on macOS and Linux. If you are using Windows, you can generate the random string using an online generator or a tool like PowerShell.
NEXTAUTH_SECRET=

