DATABASE_URL="file:./dev.db"

# Google Auth -> Google Cloud > BookWise > APIs & Services > Credentials > BookWise client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub Auth -> GitHub Settings > Developer Settings > OAuth > BookWise
GITHUB_ID=
GITHUB_SECRET=

# Next
## Project URL
NEXTAUTH_URL=

## Random string sequence. Run the command: `openssl rand -base64 32`
NEXTAUTH_SECRET=
